# external models
/external/3dcontentcentral/Mx_Keycap.step
/external/3dcontentcentral/User Library-Rotary Encoder v21.STEP
/external/3dcontentcentral/User Library-RKJXV122400R.step

# backups
/fpad7-backups